section {
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  padding: 140px 0 128px;
}

@media screen and (max-width: 1095px) {
  section {
    padding: 80px 0 71px;
  }
}

section.bgw {
  background: #fff;
}

.point > h2 {
  display: block;
  text-align: center;
  margin-bottom: 64px;
}

@media screen and (max-width: 1095px) {
  .point > h2 {
    margin-bottom: 40px;
  }
  .point > h2 img {
    width: 280px;
  }
}

.point__item {
  margin: 0 auto 64px;
  width: 96%;
  max-width: 1096px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (max-width: 1095px) {
  .point__item {
    display: block;
    width: 86.48%;
    margin-bottom: 56px;
  }
}

.point__item__pic {
  width: 52%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.point__item__pic img {
  width: 100%;
  border-radius: 8px;
}

@media screen and (max-width: 1095px) {
  .point__item__pic {
    width: 100%;
    margin-bottom: 20px;
  }
}

.point__item__txt {
  width: 526px;
  width: 69%;
  width: 48%;
  padding: 0 9.12% 0 5.83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 0.08em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1095px) {
  .point__item__txt {
    width: 100%;
    padding: 0;
  }
}

.point__item__txt h3 {
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 190%;
  position: relative;
  padding-left: 72px;
  margin-bottom: 16px;
}

.point__item__txt h3 img {
  position: absolute;
  left: 0;
}

@media screen and (max-width: 1095px) {
  .point__item__txt h3 {
    margin-bottom: 20px;
    min-height: 3.4em;
    padding-left: 57px;
    font-size: 2.1rem;
  }
  .point__item__txt h3 img {
    width: 45px;
  }
}

.point__item__txt p {
  font-size: 1.4rem;
  line-height: 200%;
}

.point__item__txt p strong {
  font-weight: bold;
}

@media screen and (max-width: 1095px) {
  .point__item__txt p {
    font-size: 1.4rem;
  }
}

.point__item__txt ul {
  font-size: 1.1rem;
  line-height: 190%;
  color: #666666;
  margin-top: 1em;
}

.point__item--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.point__item--reverse .point__item__txt {
  padding: 0 5.83% 0 9.12%;
}

@media screen and (max-width: 1095px) {
  .point__item--reverse .point__item__txt {
    padding: 0;
  }
  .point__item--reverse .point__item__txt br {
    display: none;
  }
}

.point__wrapper {
  width: 96%;
  max-width: 1092px;
  margin: 0 auto 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1095px) {
  .point__wrapper {
    display: block;
    width: 86.48%;
    margin-bottom: 45px;
  }
}

.point__wrapper .point__item {
  width: 32%;
  max-width: 336px;
  margin: 0;
  display: block;
}

@media screen and (max-width: 1095px) {
  .point__wrapper .point__item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 56px;
  }
}

.point__wrapper .point__item__pic {
  width: 100%;
  margin: 0 0 24px;
}

.point__wrapper .point__item__txt {
  width: 100%;
  margin: 0 0;
  padding: 0;
}

.point__wrapper .point__item__txt h3 {
  font-size: 1.6rem;
  padding-left: 44px;
  min-height: 3.8em;
}

@media screen and (max-width: 1095px) {
  .point__wrapper .point__item__txt h3 {
    padding-left: 57px;
    font-size: 2.1rem;
  }
  .point__wrapper .point__item__txt h3 img {
    width: 45px;
  }
}

.point__wrapper .point__item--p6 .point__item__pic img {
  width: 101.19%;
  margin-top: -1.19%;
}

@media screen and (max-width: 1095px) {
  .point__wrapper .point__item--p6 {
    margin-bottom: 0;
  }
}

.btnbox {
  text-align: center;
}

.btnbox a {
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 1.6rem;
  width: 336px;
  height: 76px;
  color: #fff;
  background: #E95D08;
  border-radius: 50px;
  line-height: 76px;
  font-weight: bold;
  cursor: pointer;
}

.btnbox a span {
  display: block;
  width: 1em;
  height: 1em;
  background: url("../img/arrow_white.svg") no-repeat center;
  position: absolute;
  top: 50%;
  right: 1.2em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 1095px) {
  .btnbox a {
    width: 291px;
    height: 64px;
    line-height: 64px;
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=style.css.map */